<!DOCTYPE html>
<html>
<head>
    <title>CanaryGraph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>☁ CanaryGraph Cloud Storage</h1>
<hr>
<button onclick="createFolder()">Create Folder</button>
<input type="text" placeholder="Search Folder">

<button onclick="searchFolder()">Search</button>


<br><br>
<h3>Storage Summary</h3>

<p>Total Folders : 5</p>
<p>Normal Folders : 3</p>
<p>Honeytoken Folders : 2</p>

<hr>
<h3>Folders</h3>

<div style="border:1px solid gray; border-radius:8px; padding:15px; margin:10px; width:250px; background:white;">

    <a href="/folder/Documents">📁 Documents</a>

    <br><br>

    <button onclick="deleteFolder('Documents')">Delete</button>

</div>

<div style="border:1px solid gray; border-radius:8px; padding:15px; margin:10px; width:250px; background:white;">

    <a href="/folder/Projects">📁 Projects</a>

    <br><br>

    <button onclick="deleteFolder('Projects')">Delete</button>

</div>

<div style="border:1px solid gray; border-radius:8px; padding:15px; margin:10px; width:250px; background:white;">

    <a href="/folder/Photos">📁 Photos</a>

    <br><br>

    <button onclick="deleteFolder('Photos')">Delete</button>

</div>

<div style="border:2px solid red; border-radius:8px; padding:15px; margin:10px; width:250px; background:#fff5f5;">

    <a href="/folder/Admin_Backup">🔒 Admin_Backup</a>

    <br><br>

    <button onclick="deleteFolder('Admin_Backup')">Delete</button>

</div>

<div style="border:2px solid red; border-radius:8px; padding:15px; margin:10px; width:250px; background:#fff5f5;">

    <a href="/folder/CEO_Private">🔒 CEO_Private</a>

    <br><br>

    <button onclick="deleteFolder('CEO_Private')">Delete</button>

</div>
function createFolder() {
    let name = prompt("Enter folder name:");

    if (name) {
        alert("Folder '" + name + "' created successfully!");
    }
}
function searchFolder() {
    let text = document.querySelector("input").value.toLowerCase();

    let folders = document.querySelectorAll("div a");

    folders.forEach(folder => {
        if (folder.textContent.toLowerCase().includes(text)) {
            folder.parentElement.style.display = "block";
        } else {
            folder.parentElement.style.display = "none";
        }
    });
}

</script>


</body>
</html>